@tailwind base;
@tailwind components;
@tailwind utilities;

.form-input {
    background-color: #fff; /* putih */
    color: #222; /* hitam */
}

.active-tab {
    font-weight: bold;
    z-index: 1;
}

html,
body {
    background-color: #f3f4f6 !important; /* abu-abu muda */
}
